@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* FOR DEBUGGING OVERFLOWS */
  /* outline: 1px solid #f00 !important; */
}

:root {
  --primary-white: hsl(0, 0%, 100%);
  --para-white: hsla(0, 0%, 100%, 0.75);
  --stat-heading-white: hsla(0, 0%, 100%, 0.6);

  --main-blue: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 60%);

  --primary-font: "Inter", sans-serif;
  --secondary-font: "Lexend Deca", sans-serif;
}

/************************************ 
-------------- Presets -------------
************************************/
body {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 400;
  background-color: var(--main-blue);
  font-family: var(--primary-font);
  color: var(--para-white);
}

main {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  max-width: 375px;
  width: 85vw;
  margin: auto;
  overflow: hidden;
}

p {
  margin-bottom: 1.5rem;
}

/************************************ 
-------------- Utility -------------
************************************/

/************************************ 
-------------- Main ----------------
************************************/
.image-container {
  background-color: var(--accent);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.image-container img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  opacity: 0.8;
}

.inner-wrapper {
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2rem;
}

.card-heading {
  font-weight: 700;
  padding: 1rem 0 1.3rem;
  color: var(--primary-white);
}

.card-heading span {
  color: var(--accent);
}

.card-description {
  width: 85%;
  line-height: 1.5;
}

.card-statistics {
  margin-top: 0.9rem;
}

.card-statistics h2 {
  color: var(--primary-white);
  font-weight: 700;
}

.card-statistics p {
  margin-top: 0.5rem;
  font-family: var(--secondary-font);
  text-transform: uppercase;
  color: var(--stat-heading-white);
  font-size: 0.8rem;
}

/************************************ 
-------------- Footer -------------
************************************/
.attribution {
  max-width: 375px;
  width: 85vw;
  margin: auto;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.attribution a {
  color: var(--accent);
  text-decoration: none;
}

.attribution span {
  display: block;
}

/************************************ 
----------- Media Queries -----------
************************************/

@media screen and (min-width: 1200px) {
  main {
    flex-direction: row;
    max-width: 1440px;
    padding: 5rem;
    flex: 1;
    width: 100%;
  }

  .image-container,
  .inner-wrapper {
    max-width: 50%;
  }

  .image-container {
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
    order: 1;
  }

  .inner-wrapper {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    text-align: left;
    align-items: flex-start;
    padding: 2rem 4rem;
  }

  .card-heading {
    padding-top: 2rem;
    font-size: 2.5rem;
  }

  .card-description {
    font-size: 1rem;
  }

  .card-statistics {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    width: 70%;
    justify-content: space-between;
  }

  .attribution {
    max-width: 1440px;
    width: 100%;
  }

  
.attribution span {
  display: inline;
}

}

